<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">Edit <%= student.title %></div>
	<form class="ui form"action ="/students/<%= student._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Student ID</label>
			<div class="ui disabled input">
				<input type="text" name="student[studentID]" value="<%= student.studentID %>">
			</div>
			
		</div>
		<div class="field">
			<label>First Name</label>
			<input type="text" name="student[firstName]" value="<%= student.firstName %>">
		</div>
		<div class="field">
			<label>Surname</label>
			<input type="text" name="student[surname]" value="<%= student.surname %>">
		</div>	
		<div class="field">
			<label>Sex</label>
			<select name="student[sex]">
				<option value="<%= student.sex %>" selected="selected"><%= student.sex %></option>
	            <option value="Male">Male</option>
	            <option value="Female">Female</option>
	        </select>
  		</div>
  			<div class="field">
			<label>Age</label>
			<input type="text" name="student[age]" value="<%= student.age %>">
		</div>	
  		<div class="field">
			<label>State of Origin</label>
			<select  name="student[stateOfOrigin]">
				<option value="<%= student.stateOfOrigin %>" selected="selected"><%= student.stateOfOrigin %></option>
	            <option value="Abia">Abia</option>
				<option value="Adamawa">Adamawa</option>
				<option value="Anambra">Anambra</option>
				<option value="Akwa Ibom">Akwa Ibom</option>
				<option value="Bauchi">Bauchi</option>
				<option value="Bayelsa">Bayelsa</option>
				<option value="Benue">Benue</option>
				<option value="Borno">Borno</option>
				<option value="Cross Rivers">Cross River</option>
				<option value="Delta">Delta</option>
				<option value="Ebonyi">Ebonyi</option>
				<option value="Enugu">Enugu</option>
				<option value="Edo">Edo</option>
				<option value="Ekiti">Ekiti</option>
				<option value="Gombe">Gombe</option>
				<option value="Imo">Imo</option>
				<option value="Jigawa">Jigawa</option>
				<option value="Kaduna">Kaduna</option>
				<option value="Kano">Kano</option>
				<option value="Katsina">Katsina</option>
				<option value="Kebbi">Kebbi</option>
				<option value="Kogi">Kogi</option>
				<option value="Kwara">Kwara</option>
				<option value="Lagos">Lagos</option>
				<option value="Nasarawa">Nasarawa</option>
				<option value="Niger">Niger</option>
				<option value="Ogun">Ogun</option>
				<option value="Ondo">Ondo</option>
				<option value="Osun">Osun</option>
				<option value="Oyo">Oyo</option>
				<option value="Plateau">Plateau</option>
				<option value="Rivers">Rivers</option>
				<option value="Sokoto">Sokoto</option>
				<option value="Taraba">Taraba</option>
				<option value="Yobe">Yobe</option>
				<option value="Zamfara">Zamfara</option>

	        </select>
		</div>

		<div class="field">
			<label>Address</label>
			<textarea name="student[address]"><%- student.address %></textarea>
		</div>
		<div class="field">
			<label>Programming Language</label>
			<select name="student[programLanguage]">
	            <option value="<%= student.programLanguage %>" selected="selected"><%= student.programLanguage %></option>
	            <option value="Java">Java</option>
	            <option value="Python">Python</option>
	            <option value="Rails">Rails</option>
	            <option value="PHP">PHP</option>
	            <option value="JavaScript">JavaScript</option>
	        </select>
  		</div>
  		<div class="field">
			<label>Proficiency</label>
			<select name="student[proficiency]">
	            <option value="<%= student.proficiency %>" selected="selected"><%= student.proficiency %></option>
	            <option value="Beginner">Beginner</option>
	            <option value="Intermediate">Intermediate</option>
	            <option value="Advanced">Advanced</option>
	            <option value="Expert">Expert</option>
	        </select>
  		</div>
		<div class="field">
			<label>Bio</label>
			<textarea name="student[bio]"><%- student.bio %></textarea>
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="student[image]" value="<%= student.image %>">
		</div>
		<a class="ui orange basic button" href="/students/<%= student._id %>">< Back</a>
		<div id = "delete" class="field">
			<button class="ui purple inverted button">Update</button>
		</div>
		
	</form>
</div>
<% include ./partials/footer %>